* {
	box-sizing: border-box;
}

html {
	font-size: 10px;
	height: 100%;
}

body {
	font-family: Arial, sans-serif;
	font-size: 1.3rem;
	background: linear-gradient(to right top, #ff512f, #dd2476);
	// min-height: 100%;
}

.reg {
    margin: 65px auto 0 auto;
    width: 465px;
    height: 475px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.5);
    padding: 30px;
    &__title {
    	color: #1b1c1d;
    	padding: 0;
    	margin: 0;
    }
    &__info {
		color: #909194;
		line-height: 1.5;
		& a {
			text-decoration: none;
			color: #ea355a;
			transition: all .2s ease;
			outline: none;
			&:hover {
				color: #a3253e;
			}
		}
    }
    &__flex {
    	display: flex;
    	justify-content: space-between;
    }
    &__form {
    	color: #7a7b7f;
    	padding: 15px;
    	font-size: 1.4rem;
    	border: none;
    	background-color: #f0f0f0;
    	border-radius: 3px;
    	margin-top: 15px;
    	outline: none;
    	&--sm {
    		width: 195px;
    	}
    	&--lg {
    		display: block;
    		width: 100%;
    	}
    }
    &__btn {
    	color: #fff;
    	font-size: 1.8rem;
    	font-weight: bold;
    	padding: 17px;
    	width: 100%;
    	background-color: #ea355a;
    	border: none;
    	border-radius: 5px;
    	margin: 15px 0 15px 0;
    	box-shadow: 0 3px 0 0 #bd1962;
    	outline: none;
    	&:hover, &:focus, &:active {
			background-color: #bb2a48;
			box-shadow: 0 3px 0 0 #8c1f36;
    	}
    }
}
